<div class="container">
    <div class="row">
            <div class="col-lg-12 nav">
                    <img src="/images/img1.jpg" alt="">
                    <div class="ito">
                            <button type="submit" class="me-2 bouton"><a href="/" class="bouton">HOME</a></button>
                            <button type="submit" class="me-2 bouton"><a href="/" class="bouton">SIGN UP</a></button>
                            <button type="submit" class="me-2 bouton"><a href="/" class="bouton">LOGIN</a></button>
                    </div>
            </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-6 bodyAdd">
            <h1 class="listeQ">Votre Question?</h1>
            <form action="" method="POST">
                <div class="mt-3">
                    <label for="username">Nom: </label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
            </form>
        </div>
        <div class="col-lg-6 bodyAdd">    
            <form action="">
                <div class="mt-3">
                    <label for="question">Question: </label>
                    <input type="text" name="question" id="question" class="form-control">
                </div>
                <div class="mt-3">
                    <label for="content">Description: </label>
                    <textarea name="content" id="content" class="form-control" rows="6"></textarea>
                </div>
                
                <label for="">Categories</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
                    <label class="" for="">Restaurant</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="">
                    <label class="" for=""> Hotel and SPA </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="">
                    <label class="" for="">Piquenique</label>
                </div>

                <div class="mt-3">
                    <button type="submit" class="form-control enregistrer">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>